<section class="hero">
  <div class="hero__container">
    <div class="hero__message">
      <h1 class="hero-title">
      Створив Tokway. Мій <a class="a_github" href="https://github.com/Tokway">>github<</a> дякую за перегляд
      </h1>

      <p class="subtitle">
        
        Цей магазин є тестовим, він не несє за собою функціонала то ж не купуйте тут нічого)
      </p>
    </div>
  </div>
</section>
